@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IventoryLink</h1>
    <p class="lead">Inventory AnyWhere, AnyTime</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Online Tutorials</h2>
        <p>
            Read our online tutorials and get started with synchronizing your inventory. Your inventory will be available to your whole workforce anyWhere AnyTime.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Initial Setup</h2>
        <p>Please configure your locations and categories.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mobile Workforce</h2>
        <p>Is your account manager at a customer? Direct and up to date access to inventory!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>